In [186]:
import pandas as pd
import seaborn as sns
import numpy as np
pd.options.display.float_format = '{:.0f}'.format
sns.set_style('whitegrid')

In [187]:
df = pd.read_csv('./data/KL_grade_project.csv')

In [188]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9284 entries, 0 to 9283
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SIDE           9284 non-null   int64
 1   READPRJ        9284 non-null   int64
 2   File_name_pic  9282 non-null   float64
 3   KL_Grade       9223 non-null   float64
dtypes: float64(2), int64(2)
memory usage: 290.2 KB

In [189]:
df=df.dropna(axis=0)        
df['KL_Grade'].isna().sum()

0

In [190]:
#형 변환 작업
df.loc[:,'File_name_pic'] = df.loc[:,'File_name_pic'].astype(np.object)
df.loc[:,'KL_Grade'] = df.loc[:,'KL_Grade'].astype(np.int16)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9223 entries, 0 to 9283
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SIDE           9223 non-null   int64
 1   READPRJ        9223 non-null   int64
 2   File_name_pic  9223 non-null   object
 3   KL_Grade       9223 non-null   int16
dtypes: int16(1), int64(2), object(1)
memory usage: 306.2+ KB

In [191]:
kl=pd.get_dummies(df['KL_Grade'])
kl

      0  1  2  3  4
0     1  0  0  0  0
1     1  0  0  0  0
2     1  0  0  0  0
3     1  0  0  0  0
4     0  0  1  0  0
...  .. .. .. .. ..
9279  0  0  0  0  1
9280  0  0  0  0  1
9281  0  0  0  0  1
9282  0  0  0  0  1
9283  0  0  0  0  1

[9223 rows x 5 columns]

In [192]:
df=pd.concat([df,kl],axis=1)
df=df.drop(['KL_Grade','READPRJ'],axis=1)
df.columns =['SIDE','File_name_pic','KL0','KL1','KL2','KL3','KL4']

In [193]:
df.head()

   SIDE File_name_pic  KL0  KL1  KL2  KL3  KL4
0     1   16600000104    1    0    0    0    0
1     2   16600000104    1    0    0    0    0
2     1   16600000204    1    0    0    0    0
3     2   16600000204    1    0    0    0    0
4     1   16600000304    0    0    1    0    0

In [195]:
df.to_csv('./data/KL_grade_project1.csv')

In [196]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9223 entries, 0 to 9283
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SIDE           9223 non-null   int64
 1   File_name_pic  9223 non-null   object
 2   KL0            9223 non-null   uint8
 3   KL1            9223 non-null   uint8
 4   KL2            9223 non-null   uint8
 5   KL3            9223 non-null   uint8
 6   KL4            9223 non-null   uint8
dtypes: int64(1), object(1), uint8(5)
memory usage: 261.2+ KB